@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  font-family: 'Orbitron', sans-serif;
}
#left {
  order: 3;
}
#winboard {
  align-self: flex-start;
  order: -1;
}
#buttonspot {
  background-color: red;
  width: 100px;
  height: 100px;
  order: -4;
}
.game-board {
  display: grid;
  order: 2;
  grid-template-rows: 20vmin 20vmin 20vmin;
  grid-template-columns: 20vmin 20vmin 20vmin;
}
h1 {
  opacity: 1;
}
#turn-board {
  opacity: 1;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
#s4 {
  border: solid 5px;
}
#s3 {
  border-top: solid 5px;
  border-bottom: solid 5px;
}
#s1 {
  border-left: solid 5px;
  border-right: solid 5px;
}
#s5 {
  border-top: solid 5px;
  border-bottom: solid 5px;
}
#s7 {
  border-left: solid 5px;
  border-right: solid 5px;
}
