.game-board {
  display: grid;

  grid-template-rows: 20vmin 20vmin 20vmin;
  grid-template-columns: 20vmin 20vmin 20vmin;
}
h1 {
  opacity: 1;
}
#turn-board {
  opacity: 1;
}

.square {
  text-align: center;
  font-size: 50px;
}
#s4 {
  border: solid 1px;
}
#s3 {
  border-top: solid 1px;
  border-bottom: solid 1px;
}
#s1 {
  border-left: solid 1px;
  border-right: solid 1px;
}
#s5 {
  border-top: solid 1px;
  border-bottom: solid 1px;
}
#s7 {
  border-left: solid 1px;
  border-right: solid 1px;
}
